/* style.css */

.universal-container {
    height: 597px;
    width: 1210px;
    padding-top: 0.5%;
    padding-left: 5%;
    padding-right: 5%;
    background-image: url(images/circle-logo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1cm;
    border: 1px solid red;
}

a {
    text-decoration: none;
    color: darkmagenta;
    font-size: larger;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header {
    height: 50px;
    width: 1200px;
    display: flex;
    justify-content: space-around;
}

.first-nav {
    height: 50px;
    width: 180px;
    display: flex;
    margin-left: -2%;
    margin-top: 1.5%;
}

.circles-holder {
    height: 60px;
    width: 70px;
    background-image: url(images/nlg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -11%;
}

.shub {
    height: 20px;
    width: 60px;
    color: darkmagenta;
    margin-left: -7%;
    margin-top: 1%;
}

.second-nav ul{
    height: 35px;
    width: 500px;
    justify-content: space-between;
    display: flex;
    list-style-type: none;
}

.second-nav {
    display: flex;
    justify-content: space-around;
    align-content: center;
    width: 1000px;
}

.cart-logo {
    height: 30px;
    width: 31px;
    margin-top: 1%;
    background-image: url(images/cart.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: -13%;
}

.body-holder {
    height: 450px;
    width: 1200px;
    margin-top: 7%;
    display: flex;
    justify-content: space-between;
    background-image: url(images/nowlogo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.letters-holder {
    height: 320px;
    width: 600px;
    margin-top: 4%;
}

.lower-case:hover {
    background-color: grey;
    border: 3px solid darkmagenta;
    color: white;
}

.upper-case {
    height: 70px;
    width: 350px;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: -4%;
    letter-spacing: 2pt;
}

.lower-case {
    height: 90px;
    width: 600px;
    font-size: larger;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 0.1pt;
}

.boxes-holder {
    height: 50px;
    width: 310px;
    display: flex;
    justify-content: space-between;
    margin-top: 13%;
}

.currency {
    height: 26px;
    width: 140px;
    text-align: center;
    padding-top: 3.5%;
    border: 2px solid darkmagenta;
    color: darkmagenta;
    border-top-style: dashed;
    border-left-style: dashed;
    font-size: small;
}

.items {
    height: 27px;
    width: 140px;
    text-align: center;
    padding-top: 3.5%;
    color: white;
    background-color: darkmagenta;
    border-style: double;
    font-size: small;
}

.picture-place {
    height: 250px;
    width: 350px;
    margin-right: 12%;
    margin-top: 7%;
    background-image: url(images/Buga.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 4cm;
    border-top-right-radius: 4cm;
    border-bottom-left-radius: 1cap;
    border-bottom-right-radius: 1cap;
}

.last-circles-holder {
    height: 30px;
    width: 120px;
    margin-left: 70%;
    margin-top: -1%;
    display: flex;
    justify-content: space-around;
}
    
.triangle {
    height: 0px;
    width: 0px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 20px solid black;
}
    
.angle {
    height: 0px;
    width: 0px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 20px solid white;
    margin-left: -17.5%
}
    
.start {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin-top: 3%;
    border: 2px solid black;
}
    
.min {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin-top: 3%;
    background-color: black;
}
    
.end {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin-top: 3%;
    background-color: black;
}
    
.shape {
    height: 23px;
    width: 23px;
    margin-top: -2%;
    background-image: url(images/greata.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#signature {
    color: grey;
    margin-left: 85%;
    margin-top: -10%;
    text-align: center;
    font-style: oblique;
    font-weight: 900;
}

.soar {
    height: 1em;
    width: 1em;
    border-radius: 50%;
    border: 1px solid black;
    margin-left: 45%;
}

:hover {
    border-radius: 0.5%;
  }  
    
img {
    height: auto;
    width: 30px;
}

a {
    display: inline-block;
    background-color: white;
    color: darkmagenta;
    padding: 0.2em 1em;
    font-size: 15px;
    position: relative;
    overflow: visible;
    letter-spacing: 3px;
    border-radius: 1cap;
}
      
a:hover {
    background-color: grey;
    color: black;
    border: 2px solid red;
    border-style: dashed;
}

@media (min-width: 475px) {
    .universal-container {
        height: 597px;
        width: 1210px;
        padding-top: 0.5%;
        padding-left: 5%;
        padding-right: 5%;
        background-image: url(images/circle-logo.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 1cm;
        border: 1px solid red;
    }
    
    .header {
        height: 50px;
        width: 1200px;
        display: flex;
        justify-content: space-around;
    }
    
    .second-nav ul{
        height: 35px;
        width: 500px;
        justify-content: space-between;
        display: flex;
        list-style-type: none;
    }
    
    .second-nav {
        display: flex;
        justify-content: space-around;
        align-content: center;
        width: 1000px;
    }
    
    .body-holder {
        height: 450px;
        width: 1200px;
        margin-top: 7%;
        display: flex;
        justify-content: space-between;
        background-image: url(images/nowlogo.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .letters-holder {
        height: 320px;
        width: 600px;
        margin-top: 4%;
    }
    
    .upper-case {
        height: 70px;
        width: 20em;
        font-size: larger;
        font-family: Arial, Helvetica, sans-serif;
        margin-bottom: -4%;
        letter-spacing: 2pt;
    }
    
    .lower-case {
        height: 90px;
        width: 32em;
        font-size: larger;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        letter-spacing: 0.1pt;
    }
    
    .picture-place {
        height: 250px;
        width: 350px;
        margin-right: 12%;
        margin-top: 7%;
        background-image: url(images/Buga.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        border-top-left-radius: 4cm;
        border-top-right-radius: 4cm;
        border-bottom-left-radius: 1cap;
        border-bottom-right-radius: 1cap;
    }
    
}