/* stylee.css */

.world-container {
  height: 620px;
  width: 1330px;
}

header {
  display: flex;
  justify-content: space-between;
  width: 1330px;
  background-color: white;
}

.navigation-bar ul {
  height: 40px;
  width: 800px;
  font-weight: 900;
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  margin-left: 4%;
  background-color: white;
}

a {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.navigation-bar {
  display: flex;
  height: 60px;
  width: 1100px;
  margin-left: 8%;
  background-color: white;
}

.coperate-logo {
  display: flex;
  height: 55px;
  width: 250px;
  margin-top: -1%;
}

.coy-logo {
  height: 70px;
  width: 65px;
  margin-left: -10%;
}

.shubham {
  margin-top: 15%;
  margin-left: -13%;
  color: darkcyan;
  font-weight: 700;
  position: relative;
}

.keys {
  height: 20px;
  width: 80px;
  color: darkcyan;
  font-weight: 700;
  text-align: center;
}

.form-container {
  height: 560px;
  width: 1330px;
  padding-top: 0.5%;
  margin-top: -0.1%;
  border-radius: 1cap;
  background-color: darkcyan;
}

.form-body {
  height: 520px;
  width: 460px;
  margin-left: 32%;
  margin-top: 1.5%;
  border-radius: 0.6cap;
  padding-left: 1.5%;
  background-color: white; 
}

.form-body:hover {
  color: aquamarine;
  background-color: darksalmon;
  border: 2px solid white;
}

input {
  height: 38px;
  width: 430px;
  border-radius: 0.6cap;
  padding-left: 2%;
  margin-top: 1%;
  margin-bottom: 3%;
  font-weight: 900;
}

button {
  height: 40px;
  width: 443px;
  border-radius: 0.6cap;
  font-weight: 900;
  border-style: none;
  color: black;
  background-color: darkcyan;
}

.signup {
  height: 2em;
  width: 10em;
  margin-left: 33%;
  font-weight: bolder;
  font-size: x-large;
  letter-spacing: -1pt;
}

.date {
  font-weight: 900;
}

.gender-box {
  height: 93px;
}

.gender {
  font-weight: 900;
  height: 42px;
  width: 443px;
  border-radius: 0.6cap;
  display: inline;
  margin-top: 1%;
}

.full-name, .email-address, .password, .birth-date {
  font-weight: 900;
}

:hover {
  border: 1px solid white;
}

a {
  display: inline-block;
  color: black;
  padding: 0.6em 0.90em;
  font-size: 15px;
  position: relative;
  overflow: hidden;
  letter-spacing: 2px;
  border-radius: 3cap;
  font-weight: 100;
  text-decoration: none;
}
  
span:hover {
  background-color: grey;
  color: white;
  border: 2px solid red;
  border-style: dashed;
}
  
a span {
  position: absolute;
  display: block;
}
  
a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background-color: white;
  animation: animate1 1s linear infinite;
}

@keyframes animate1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}

a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background-color: white;
  animation: animate2 1s linear infinite;
  animation-delay: 0.25s;
}

@keyframes animate2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}

a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background-color: white;
  animation: animate3 1s linear infinite;
  animation-delay: 0.5s;
}

@keyframes animate3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}

a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background-color: white;
  animation: animate4 1s linear infinite;
  animation-delay: 0.75s;
}

@keyframes animate4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}

.password-toggle-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-100%);
  cursor: pointer;
}

.password-toggle-icon i {
  font-size: 18px;
  line-height: 1;
  color: black;
  transition: color 0.3s ease-in-out;
  margin-bottom: 20px;
}

.password-toggle-icon i:hover {
  color: #000;
}

@media  (min-width: 475px) {
  .world-container {
  height: 620px;
  width: 1330px;
  }

  header {
  display: flex;
  justify-content: space-between;
  width: 1330px;
  background-color: white;
  }

  .navigation-bar ul {
  height: 40px;
  width: 800px;
  font-weight: 900;
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  margin-left: 4%;
  background-color: white;
  }

  .navigation-bar {
  display: flex;
  height: 60px;
  width: 1100px;
  margin-left: 8%;
  background-color: white;
  }

  .form-container {
  height: 560px;
  width: 1330px;
  padding-top: 0.5%;
  margin-top: -0.1%;
  border-radius: 1cap;
  background-color: darkcyan;
  }

  .form-body {
  height: 520px;
  width: 460px;
  margin-left: 32%;
  margin-top: 1.5%;
  border-radius: 0.6cap;
  padding-left: 1.5%;
  background-color: white; 
  }

  input {
  height: 38px;
  width: 430px;
  border-radius: 0.6cap;
  padding-left: 2%;
  margin-top: 1%;
  margin-bottom: 3%;
  font-weight: 900;
  }

  button {
  height: 40px;
  width: 443px;
  border-radius: 0.6cap;
  font-weight: 900;
  border-style: none;
  color: black;
  background-color: darkcyan;
  }

  .gender {
  font-weight: 900;
  height: 42px;
  width: 443px;
  border-radius: 0.6cap;
  display: inline;
  margin-top: 1%;
  }
}