/* styles.css */

.major-container {
  height: 43em;
  width: 75em;
}

.coperate-logo {
  height: 2em;
  width: 10em;
  margin-bottom: -5.5%;
  display: flex;
}

.subham {
  margin-top: 15%;
  margin-left: -6%;
}

header {
  width: 70em;
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin-left: 8%;
  margin-top: -1.5%;
}

.navigation-bar ul {
  font-weight: 900;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  height: 3em;
  width: 52em;
  margin-left: 25%;
  margin-top: 4.8%;
}

a {
  text-decoration: none;
  font-size: medium;
}

.circles-holder {
  height: 4em;
  width: 4em;
}

.cart-logo {
  height: 2em;
  width: 2.2em;
  margin-top: -0.5%;
}

.shadow {
  margin-top: -1%;
  box-shadow: 3px 3px 5px 2px rgba(90, 90, 90,1.0);
  color: black;
}

.shadow:hover {
  background-color: red;
  color: blue;
  border: 5px solid green;
  border-style: dashed;
}

.food-body {
  height: 36em;
  width: 83em;
  background-color: white;
}

.popular-foods {
  margin-left: 42%;
  width: 15em;
  letter-spacing: 1pt;
  font-weight: 900;
  margin-bottom: 2%;
}

.food-items {
  height: 14.5em;
  width: 83em;
  display: flex;
  justify-content: space-around;
  margin-top: -2%;
}

.first-set {
  height: 13.9em;
  width: 19.5em;
  border-radius: 1cap;
  border: 2px solid black;
  margin-top: 0.5%
}

img {
  height: 8em;
  width: 18em;
  margin-left: 4%;
  margin-top: 3%;
  border-radius: 1cap;
}

.word {
  width: 12em;
  margin-left: 4%;
  margin-top: -1.8%;
  font-weight: 900;
  letter-spacing: 2pt;
  font-size: x-large;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-bottom: 1.5%;
}

.price {
  font-size: 15pt;
  margin-left: 5%;
}

button {
  height: 2.3em;
  width: 6em;
  border-radius: 2cm;
  border-style: none;
  text-align: center;
  padding-top: 2%;
  margin-left: 4%;
  background: linear-gradient(rgba(90, 90, 90,0.0) 0 0),
  radial-gradient(yellow 30%, transparent 70%),
  red;
  animation-duration: 5ms;
  color: black;
}

.next-set {
  height: 13.9em;
  width: 19.5em;
  margin-top: 0.5%;
  border-radius: 1cap;
  border: 2px solid black;
}

.third-set {
  height: 13.9em;
  width: 19.5em;
  margin-top: 0.5%;
  border-radius: 1cap;
  border: 2px solid black;
}

.fourth-set {
  height: 13.9em;
  width: 19.5em;
  margin-top: 0.5%;
  border-radius: 1cap;
  border: 2px solid black;
}

.second-items {
  height: 16em;
  width: 83em;
  display: flex;
  justify-content: space-around;
  margin-top: 1%;
}

.item-one {
  height: 13.9em;
  width: 19.5em;
  border-radius: 1cap;
  border: 2px solid black;
}

.item-two {
  height: 13.9em;
  width: 19.5em;
  border-radius: 1cap;
  border: 2px solid black;
}

.item-three {
  height: 13.9em;
  width: 19.5em;
  border-radius: 1cap;
  border: 2px solid black;
}

.item-four {
  height: 15.6em;
  width: 19.5em;
  border-radius: 1cap;
  border: 2px solid black;
}
  
:hover {
  background-color: white;
  border: 1px solid white;
}

@media (min-width: 475px) {
  .major-container {
    height: 43em;
    width: 75em;
  }
  
  header {
    width: 70em;
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-left: 8%;
    margin-top: -1.5%;
  }
}