/* stylee.css */

.world-container {
    height: 42em;
    width: 82em;
    display: flex;
    background-image: url(images/Whaoo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.links ul {
    height: 4em;
    width: 6em;
    font-weight: 900;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
}

.mini-container {
    height: 39em;
    width: 25em;
    margin-left: 25%;
    border-radius: 1ch;
    padding-left: 1.5%;
    margin-top: 2%;
}

input {
    height: 3em;
    width: 27.9em;
    border-radius: 1ch;
    padding-left: 2%;
    border-style: none;
}

.sign {
    height: 2em;
    width: 20em;
    text-align: center;
    margin-left: 7%;
    font-stretch: expanded;
    font-weight: 900;
}

.submit {
    margin-top: 20%;
    background-color: darkcyan;
}

.date {
    font-weight: 900;
    margin-top: -10%;
}

.gender {
    font-weight: 900;
    height: 3em;
    width: 28.5em;
    border-radius: 1ch;
    margin-top: -20%;
    padding-left: 1%;
}