/* style.css */

.universal-body {
    height: 40em;
    width: 76em;
    padding-top: 0.5%;
    padding-left: 5%;
    padding-right: 5%;
    background-image: url(images/circle-logo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1cm;
}

a {
    text-decoration: none;
    color: purple;
    font-size: larger;
}

.navigation-bar {
    height: 45px;
    width: 74em;
    display: flex;
    justify-content: space-between;
}

.first-nav {
    height: 1em;
    width: 12em;
    display: flex;
    margin-left: -2%;
    margin-top: 1.8%;
}

.circles-holder {
    height: 2.8em;
    width: 5em;
    background-image: url(images/nlg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -13%;
}

.shub {
    height: 20px;
    width: 5em;
    color: purple;
    margin-left: -8%;
}

.second-nav ul{
    height: 35px;
    width: 23.5em;
    justify-content: space-between;
    display: flex;
    list-style-type: none;
    margin-left: -8%;
}

.cart-logo {
    height: 2em;
    width: 2.2em;
    margin-top: 1%;
    background-image: url(images/cart.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.body-holder {
    height: 420px;
    width: 74em;
    margin-top: 9%;
    display: flex;
    justify-content: space-between;
    background-image: url(images/nowlogo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.letters-holder {
    height: 250px;
    width: 30em;
}

.upper-case {
    height: 3em;
    width: 20em;
    font-size: larger;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.lower-case {
    height: 5em;
    width: 34em;
    font-size: larger;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-stretch: extra-expanded;
    text-shadow: 1000cm;
    margin-top: -2%;
}

.boxes-holder {
    height: 50px;
    width: 16em;
    display: flex;
    justify-content: space-between;
    margin-top: 10%;
}

.currency {
    height: 26px;
    width: 8.5em;
    text-align: center;
    padding-top: 3.5%;
    border: 2px solid purple;
    color: purple;
    border-top-style: dashed;
    border-left-style: dashed;
    font-size: small;
}

.items {
    height: 27px;
    width: 8.5em;
    text-align: center;
    padding-top: 3.5%;
    color: white;
    background-color: purple;
    border-style: double;
    font-size: small;
}

.picture-place {
    height: 20em;
    width: 26em;
    margin-right: 5%;
    background-image: url(images/burgar.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 4cm;
}

.last-circles-holder {
        height: 30px;
        width: 120px;
        margin-left: 70%;
        display: flex;
        justify-content: space-around;
    }
    
    .triangle {
        height: 0px;
        width: 0px;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-right: 20px solid grey;
    }
    
    .angle {
        height: 0px;
        width: 0px;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-right: 20px solid white;
        margin-left: -17.5%
    }
    
    .start {
        height: 10px;
        width: 10px;
        border-radius: 50%;
        margin-top: 3%;
        border: 2px solid grey;
    }
    
    .min {
        height: 15px;
        width: 15px;
        border-radius: 50%;
        margin-top: 3%;
        background-color: grey;
    }
    
    .end {
        height: 15px;
        width: 15px;
        border-radius: 50%;
        margin-top: 3%;
        background-color: grey;
    }
    
    .shape {
        height: 23px;
        width: 23px;
        margin-top: -2%;
        background-image: url(images/greata.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    #signature {
        color: grey;
        margin-left: 85%;
        margin-top: -8%;
        text-align: center;
        font-style: oblique;
        font-weight: 900;
    }

    .soar {
        height: 1em;
        width: 1em;
        border-radius: 50%;
        border: 1px solid black;
        margin-left: 45%;
    }
    
    img {
        height: auto;
        width: 30px;
    }