/* styles.css */

.major-container {
    height: 40em;
    width: 85em;
    background-image: url(images/9sbeach.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 2%;
}

.links ul {
    height: 3em;
    width: 10em;
    font-weight: 900;
    list-style-type: none;
}

a {
    text-decoration: none;
    background: linear-gradient(rgba(100, 100, 100,0.0) 0 0),
    radial-gradient(yellow 40%, transparent 90%),
    red;
    font-size: larger;
}

.popular {
    height: 35px;
    width: 27em;
    margin-left: 19%;
    margin-top: -2%;
    text-align: end;
    font-size: larger;
}

.food-items {
    height: 16em;
    width: 52em;
    margin-left: 1%;
    display: flex;
    justify-content: space-around;
    margin-left: 19%;
}

.first-set {
    height: 15em;
    width: 12em;
    margin-top: 0.5%;
    border-radius: 1cap;
}

.picture-place {
    height: 9em;
    width: 11em;
    margin-left: 4%;
    margin-top: 2%;
    border-radius: 1cap;
    background-image: url(images/hotdog.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.place-image {
    height: 9em;
    width: 11em;
    margin-left: 4%;
    margin-top: 2%;
    border-radius: 1cap;
    background-image: url(images/chik-pizza.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.pict-side {
    height: 9em;
    width: 11em;
    margin-left: 4%;
    margin-top: 2%;
    border-radius: 1cap;
    background-image: url(images/macdolnad.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.image-holder {
    height: 9em;
    width: 11em;
    margin-left: 4%;
    margin-top: 2%;
    border-radius: 1cap;
    background-image: url(images/moimoi.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.word {
    height: 3em;
    width: 11em;
    margin-left: 4%;
}

.oder {
    height: 1.5em;
    width: 5em;
    border-radius: 2cm;
    text-align: center;
    padding-top: 2%;
    margin-left: 4%;
    background: linear-gradient(rgba(100, 100, 100,0.0) 0 0),
    radial-gradient(yellow 40%, transparent 70%),
    red;
    color: black;
}

.next-set {
    height: 15em;
    width: 12em;
    margin-top: 0.5%;
    border-radius: 1cap;
}

.third-set {
    height: 15em;
    width: 12em;
    margin-top: 0.5%;
    border-radius: 1cap;
}

.fourth-set {
    height: 15em;
    width: 12em;
    margin-top: 0.5%;
    border-radius: 1cap;
}

.second-items {
    height: 16em;
    width: 52em;
    margin-left: 19%;
    margin-top: 1%;
    display: flex;
    justify-content: space-around;
}

.item-one {
    height: 15em;
    width: 12em;
    margin-top: 0.5%;
    border-radius: 1cap;
}

.item-two {
    height: 15em;
    width: 12em;
    margin-top: 0.5%;
    border-radius: 1cap;
}

.item-three {
    height: 15em;
    width: 12em;
    margin-top: 0.5%;
    border-radius: 1cap;
}

.item-four {
    height: 15em;
    width: 12em;
    margin-top: 0.5%;
    border-radius: 1cap;
}